.App{
  text-align: center;
}
.grid {
  margin : 10%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 125px 125px 125px ;
  grid-template-rows: 125px 125px 125px  ;
  text-align: center;
}

.inner-grid {
  margin : 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
  outline: solid;
  text-align: center;
}

.case {
  background-color: rgb(169, 178, 197);
  outline: solid;
  outline-color: rgba(92, 91, 91, 0.575);
}
